export default function Page() {
  return (
    <div className="flex flex-col items-center justify-center min-h-screen p-8 gap-4 font-[family-name:var(--font-geist-sans)]">
      <main className="flex flex-col gap-8 items-center sm:items-start text-center sm:text-left">
        <h1 className="text-4xl font-bold">Welcome to {{ name }}!</h1>
        <p className="text-lg opacity-80 max-w-xl">
          This is a fresh Next.js Micro-Frontend (Zone) generated natively via Turborepo.
          <br />
          It is perfectly integrated with the <b>kn-next</b> PaaS engine.
        </p>
      </main>
    </div>
  );
}
